@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    background-color: black;
}

@media (min-width: 390px) and (min-height: 844px) {

    .average-rating {
        color: white;
        max-width: 150px;
        transform: translate(160px, -240px);
    }

    .comment-container {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        padding: 10px;
        transform: translate(0, -10px);
    }

    .comment-container button {
        padding: 5px 10px;
    }

    .comment-container input {
        flex: 1;
        margin-right: 10px;
        padding: 5px;
    }

    .comment-item {
        align-items: center;
        display: flex;
        margin-bottom: 10px;
    }

    .comment-item .edit_btn,
    .comment-item .del_btn {
        display: block;
        margin: 2px 0;
    }

    .comment-subcontainer {
        display: flex;
    }

    .comment-subcontainer button {
        display: flex;
        justify-content: flex-end;
    }

    .comments-list {
        box-sizing: border-box;
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        max-height: 200px;
        overflow-y: auto;
        padding: 10px;
        transform: translate(0, -35px);
    }

    .edit_btn {
        background-color: #4CAF50;
        border: none;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        display: flex;
        max-height: 32px;
        min-width: 47px;
        padding: 5px 10px;
    }

    .del_btn {
        background-color: #f44336;
        border: none;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        display: flex;
        max-height: 32px;
        min-width: 47px;
        padding: 5px 10px;
    }

    button:hover {
        opacity: 0.8;
    }

    .Genre {
        height: 28px;
        transform: translate(-21%, 0);
    }

    .header-MainText {
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 3px;
        margin-top: -5px;
        transform: translate(0%, 0);
        width: 75%;
    }

    .header-container {
        background-color: black;
        display: flex;
        height: 80px;
        justify-content: center;
        left: 50%;
        margin-bottom: -25px;
        position: fixed;
        transform: translate(-50%, -12%);
        width: 390px;
        z-index: 1002;
    }

    .like-button {
        transform: translate(5px, -255px);
    }

    .like-button span {
        padding: 5px;
    }

    .main-container {
        margin: 10px;
        padding: 5px;
        transform: translate(0%, 0.1%);
    }

    .movie {
        color: white;
        margin: 10px;
        max-width: 150px;
        min-height: 225px;
        text-align: center;
        transform: translate(0, 23%);
    }

    .movie img {
        height: auto;
        max-width: 150px;
        min-height: 225px;
    }

    .movie-container {
        display: flex;
        flex-wrap: wrap;
    }

    .movie-details-container {
        height: 860px;
    }

    .movie-details-container img {
        max-width: 150px;
        min-height: 225px;
        transform: translate(0px, 40%);
    }

    .movie-details-container p {
        color: white;
        transform: translate(0px, 35%);
    }

    .ratingBadge {
        background-color: red;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        padding: 5px 10px;
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 5px;
    }

    .rateing {
        border: 0;
        display: inline-block;
        margin-right: 15px;
        transform: translate(180px, -350px);
    }

    .rateing > input {
        display: none;
    }

    .rateing > label {
        color: #ddd;
        float: right;
    }

    .rateing > label:before {
        content: "\f005 ";
        display: inline-block;
        font-family: FontAwesome;
        font-size: 1rem;
        margin: 0;
        padding: .3rem .2rem;
        cursor: pointer;
        top: 6.1px;
    }

    .rateing .half:before {
        content: "\f089 ";
        padding-right: 0;
        position: absolute;
    }

    .rateing input:checked ~ label,
    .rateing label:hover,
    .rateing label:hover ~ label {
        color: #f73c32 !important;
    }

    .rateing input:checked + .rate label:hover,
    .rateing input:checked ~ label:hover,
    .rateing input:checked ~ .rate label:hover ~ label,
    .rateing label:hover ~ input:checked ~ label {
        color: #f73c32 !important;
    }

    .Search-InputContainer {
        transform: translate(-72%, 0%);
        width: 35%;
    }

    .Search-container {
        display: flex;
        justify-content: end;
        position: fixed;
        transform: translate(3%, 95%);
    }

    .Select-container {
        transform: translate(-75%, 0%);
    }
}